<h1>New Ticket!</h1>
<p>Submitted at <%= @time %></p>
<br> <br>
<p>Name: <%= @work_request.name %><p>
<p>Address: <%= @work_request.address %><p>
<p>Phone: <%= @work_request.phone %><p>
<%= link_to('View this ticket', admin_url) %>